* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../../fonts/ProximaNova-Light.eot");
  src: url("../../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Light.woff") format("woff"), url("../../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626; }

.section {
  padding: 100px 0 0; }
  .section-title {
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px; }

.button-o {
  border: 2px solid #507fe1;
  text-transform: uppercase;
  background-color: white;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #507fe1;
  padding: 17px 22px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .button-o:hover {
    background-color: #507fe1;
    color: #fff; }

.button {
  border: none;
  text-transform: uppercase;
  background-color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding: 25px 45px; }
  .button:hover {
    background-color: white;
    outline: 2px solid #507fe1;
    color: #507fe1; }
  .button-fitting {
    font-size: 11px;
    padding: 10px;
    text-transform: uppercase;
    color: #7c9fe8;
    background-color: #fff;
    border: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .button-fitting:hover {
      background-color: #7c9fe8;
      color: #fff; }
  .button-add {
    background-color: #7c9fe8;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    font-size: 11px;
    border: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .button-add:hover {
      background-color: white;
      color: #507fe1; }

.bg-secondary {
  background: #f1f1f1; }

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd; }

input[type='checkbox'] {
  display: none; }
  input[type='checkbox']:checked + label:before {
    background-color: #507fe1; }

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 40px; }
  .checkbox-label:hover {
    cursor: pointer; }
  .checkbox-label:before {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    margin-right: 15px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 95; }
  .navbar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 80px;
    display: flex;
    align-items: center; }
  .navbar__mobile, .navbar__landline {
    text-align: right; }
  .navbar__phone {
    display: block;
    font-size: 19px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-decoration: none;
    color: #262626;
    margin-bottom: 5px; }
  .navbar__small-text {
    display: block;
    font-size: 14px;
    color: #7b7b79; }
  .navbar .menu {
    position: fixed;
    z-index: 0;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 16px 0px;
    background-color: #507fe1;
    color: #fff;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0; }
    .navbar .menu_active {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1; }
    .navbar .menu__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .navbar .menu__link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 17px;
      color: #fff; }
    .navbar .menu-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      border-right: 1px solid rgba(81, 11, 186, 0.1);
      border-left: 1px solid rgba(81, 11, 186, 0.1);
      height: 80px;
      width: 70px; }
      .navbar .menu-button:hover {
        cursor: pointer; }
      .navbar .menu-button:focus {
        outline: none; }
      .navbar .menu-button__line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #89a9eb;
        margin-top: 2px; }
  .navbar .logo__text {
    display: block;
    margin-bottom: 5px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 18px;
    text-transform: uppercase; }
  .navbar .logo__description {
    display: block;
    font-size: 14px;
    color: #7b7b79; }

.hero {
  background: #f1f1f1 url("../../img/main.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 180px; }
  .hero__title {
    margin-bottom: 40px;
    font-size: 30px; }
  .hero__subtitle {
    display: block;
    margin-bottom: 67px;
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif; }

.offer {
  padding: 129px 0; }
  .offer-block {
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    padding: 80px;
    margin-top: -200px; }
    .offer-block_calc-bg {
      background: #fff url(../../img/offer-calc-bg.jpg) no-repeat center right;
      background-size: contain; }
    .offer-block_price-bg {
      background: #fff url(../../img/offer-price-bg.jpg) no-repeat center right;
      background-size: contain; }
  .offer__title {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Semibold', sans-serif;
    margin-bottom: 25px; }
  .offer__subtitle {
    display: block;
    font-size: 21px;
    margin-bottom: 48px;
    max-width: 800px; }
  .offer .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 900px;
    margin-bottom: 30px; }
    .offer .form__row:last-child {
      margin-bottom: 0; }
  .offer .form__label {
    display: block;
    font-size: 17px;
    margin-bottom: 15px; }
  .offer .form__group {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%; }
  .offer .form__input {
    width: 100%;
    border-right: 0px; }
    .offer .form__input:last-child {
      border-right: 1px solid #ddd; }
  .offer .form__button {
    height: 80px;
    width: 100%; }
  .offer .form__policy {
    display: inline-block;
    margin-left: 45px;
    font-size: 15px; }

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .feature-block__item {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    text-align: center;
    margin-bottom: 75px;
    font-size: 17px; }
  .feature-block__img {
    width: 180px;
    height: 180px; }

.catalog {
  padding-bottom: 100px; }
  .catalog-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .catalog__card {
    margin-bottom: 7px; }
  .catalog-card {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    position: relative;
    z-index: 0;
    max-width: 570px;
    -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.2);
    overflow-y: hidden; }
    .catalog-card:hover .catalog-card__buttons {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }
    .catalog-card img {
      width: 100%;
      height: 250px; }
    .catalog-card__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
      opacity: 0;
      -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
      transform: translateY(100%); }
    .catalog-card__tag {
      position: absolute;
      top: 7px;
      left: 7px;
      background-color: #8d8d8d;
      padding: 5px;
      color: #fff; }
    .catalog-card__image {
      display: block; }
  .catalog__link {
    text-align: center;
    margin-top: 60px; }
  .catalog__link-more {
    display: inline-block;
    margin-bottom: 15px; }
  .catalog__description {
    display: block; }

.price {
  padding-bottom: 100px; }
  .price-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .price-block__card {
      margin-bottom: 10px; }
  .price-card {
    background-color: #fff;
    position: relative;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%; }
    .price-card__text {
      padding: 20px;
      font-size: 15px; }
    .price-card__cost {
      font-family: 'Proxima Nova Semibold', sans-serif; }
    .price-card img {
      width: 98%;
      height: 250px; }
    .price-card__pricetag {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .price-card__button {
      text-align: center;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      height: 100px;
      width: 100%;
      padding: 20px;
      padding-top: 0;
      opacity: 0;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease; }
    .price-card:hover .price-card__button {
      z-index: 1;
      bottom: 105px;
      opacity: 1; }
    .price-card:hover .price-card__image {
      -webkit-filter: grayscale(75%);
      filter: grayscale(75%); }

.step {
  position: relative;
  text-align: center;
  margin-bottom: 25px; }
  .step__title {
    font-size: 18px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-family: 'Proxima Nova Semibold', sans-serif; }
  .step__text {
    max-width: 160px;
    margin: auto; }
  .step:last-child::before {
    display: none; }
  .step:before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(126, 123, 120, 0.5);
    display: block;
    position: absolute;
    top: 17%;
    right: -63%; }
  .steps {
    background-color: #f1f1f1;
    padding-bottom: 100px; }
    .steps-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.before {
  padding-bottom: 150px; }
  .before-slider-wrap {
    position: relative;
    max-width: 640px;
    margin: auto;
    z-index: 2; }
  .before-slider-arrows {
    z-index: -1;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%); }
  .before-slider__dots {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none; }
    .before-slider__dots li {
      width: 10px;
      height: 10px;
      background-color: #d1d1d1;
      border-radius: 50%;
      margin: 28px 5px; }
      .before-slider__dots li:hover {
        cursor: pointer; }
      .before-slider__dots li.slick-active {
        background-color: #5b7fda; }
    .before-slider__dots button {
      display: none; }

.arrow {
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .arrow:focus {
    outline: none; }
  .arrow-left {
    -webkit-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    transform: translateX(-200%); }
  .arrow-right {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%); }

.reviews {
  background-color: #f5f6f8;
  padding-bottom: 150px; }
  .reviews-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .reviews-slider__item {
      text-align: center; }
    .reviews-slider__img {
      display: block;
      width: 70px;
      height: 70px;
      border: 1px solid #f5f6f8;
      border-radius: 50%;
      margin: 20px auto; }
    .reviews-slider__text {
      position: relative;
      font-size: 15px;
      font-style: italic;
      max-width: 370px;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 30px;
      line-height: 20px; }
      .reviews-slider__text:after {
        content: '';
        position: absolute;
        bottom: -20px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        height: 20px;
        border: 10px solid transparent;
        border-top: 10px solid #fff; }
    .reviews-slider-name {
      font-family: 'Proxima Nova Semibold', sans-serif; }

.factory {
  padding: 0 0 100px; }
  .factory-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .factory-block__image {
      width: 400px;
      height: 250px;
      margin-bottom: 20px; }
    .factory-block__text {
      margin-left: 70px;
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      font-size: 18px; }
      .factory-block__text p {
        margin-bottom: 15px; }

.contacts {
  padding-bottom: 150px;
  background-color: #f6f7f9; }
  .contacts-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .contacts-block__item {
      text-align: center; }
  .contacts__image {
    margin-bottom: 25px; }
  .contacts__text {
    font-size: 16px; }
  .contacts__link {
    color: #262626; }
  .contacts__address {
    font-style: normal; }

.questions {
  padding-bottom: 100px; }
  .questions__title {
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif; }
  .questions__link {
    font-size: 24px;
    color: #507fe1; }
  .questions-block {
    max-width: 800px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.footer {
  padding: 40px 0;
  background-color: #262626;
  color: #fff; }
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer a {
    color: #fff; }
  .footer__title {
    margin-bottom: 8px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Semibold', sans-serif; }
  .footer__subtitle {
    display: block;
    margin-bottom: 48px; }
  .footer__copy {
    color: #767676; }
  .footer__contacts {
    text-align: right; }
  .footer__phone {
    display: block;
    font-size: 20px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    margin-bottom: 20px; }
  .footer__mail {
    display: block;
    margin-bottom: 20px; }
  .footer-social__link {
    margin-left: 10px; }

@media screen and (min-width: 1020px) and (max-width: 1299px) {
  .container {
    padding: 0px 40px; }
  .blog__heading {
    display: block;
    text-align: center;
    line-height: 45px; }
  .blog-list {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .blog-list__card {
      margin-right: 100px;
      margin-left: 50px;
      max-width: 200px; }
  .price-card {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%; }
    .price-card img {
      width: 98%;
      height: 300px; }
  .price .delete {
    display: none; }
  .step {
    width: 33%; }
    .step:before {
      display: none; }
  .factory-block__image {
    width: 600px;
    height: 350px;
    margin-bottom: 40px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }
  .factory-block__text {
    margin-left: 0px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    text-align: center; } }

@media screen and (min-width: 768px) and (max-width: 1019px) {
  .container {
    padding: 0px 40px; }
  .navbar__mobile, .navbar__landline {
    display: none; }
  .catalog-card {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .blog__heading {
    display: block;
    text-align: center;
    line-height: 45px; }
  .blog-list {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .blog-list__card {
      margin-left: 50px;
      margin-right: 100px;
      max-width: 200px; }
  .price-card {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
    .price-card img {
      width: 98%;
      height: 300px; }
  .price .delete {
    display: none; }
  .step {
    width: 33%; }
    .step:before {
      display: none; }
  .factory-block__image {
    width: 600px;
    height: 350px;
    margin-bottom: 40px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }
  .factory-block__text {
    margin-left: 0px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    text-align: center; } }

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 20px; }
  .navbar__mobile, .navbar__landline {
    display: none; }
  .button-o {
    font-size: 10px; }
  .offer-block {
    padding: 20px;
    background: none;
    background-color: #fff; }
  .offer__title {
    font-size: 18px; }
  .offer__subtitle {
    font-size: 16px; }
  .offer .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .offer .form__row-checkbox {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
  .offer .form__group {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%; }
  .offer .form__input {
    margin-bottom: 20px; }
  .offer .form__button {
    height: 50px;
    padding: 5px; }
  .offer .form__policy {
    text-align: center;
    width: 100%;
    margin: 20px 0 0; }
  .offer .feature-block__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .input {
    height: 50px; }
  .catalog-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .catalog-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .catalog-card img {
      width: 100%;
      height: 300px; }
  .blog__heading {
    display: block;
    text-align: center;
    line-height: 45px; }
  .blog-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .blog-list__card {
      margin-left: 40px;
      margin-right: 100px;
      max-width: 200px; }
    .blog-list__image {
      height: 150px; }
  .price-card {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .price .delete {
    display: none; }
  .step {
    width: 50%; }
    .step:before {
      display: none; }
  .factory-block__image {
    width: 300px;
    height: 350px;
    margin-bottom: 40px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }
  .factory-block__text {
    margin-left: 0px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    text-align: center; }
  .contacts-block__item {
    width: 100%;
    margin-bottom: 30px; }
  .contacts__address {
    max-width: 200px;
    margin: auto; } }

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0px 20px; }
  .section-title {
    font-size: 24px; }
  .navbar .logo, .navbar__mobile, .navbar__landline {
    display: none; }
  .menu {
    top: 60px; }
    .menu-button {
      height: 60px; }
    .menu__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .menu__link {
      margin-bottom: 20px; }
  .feature-block__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .feature-block__img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px; }
  .price-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .price-card img {
      width: 98%;
      height: 300px; }
  .price .delete {
    display: none; }
  .step {
    width: 50%; }
  -block__image {
    width: 200px;
    height: 250px;
    margin-bottom: 40px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%; }
  -block__text {
    margin-left: 0px;
    -ms-flex-preferred-size: 80%;
    flex-basis: 80%;
    text-align: center; } }
