* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../../fonts/ProximaNova-Light.eot");
  src: url("../../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Light.woff") format("woff"), url("../../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0px 40px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0px 40px; }
  .navbar__mobile, .navbar__landline {
    display: none; } }

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 20px; }
  .navbar__mobile, .navbar__landline {
    display: none; }
  .button-o {
    font-size: 10px; } }

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0px 20px; }
  .navbar .logo, .navbar__mobile, .navbar__landline {
    display: none; }
  .menu {
    top: 60px; }
    .menu-button {
      height: 60px; }
    .menu__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .menu__link {
      margin-bottom: 20px; } }

.container {
  max-width: 1170px;
  margin: 0 auto; }

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626; }

.button-o {
  border: 2px solid #507fe1;
  text-transform: uppercase;
  background-color: white;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #507fe1;
  padding: 17px 22px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .button-o:hover {
    background-color: #507fe1;
    color: #fff; }

.button {
  border: none;
  text-transform: uppercase;
  background-color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding: 25px 45px; }
  .button:hover {
    background-color: white;
    outline: 2px solid #507fe1;
    color: #507fe1; }

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff; }
  .navbar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 80px;
    display: flex;
    align-items: center; }
  .navbar__mobile, .navbar__landline {
    text-align: right; }
  .navbar__phone {
    display: block;
    font-size: 19px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-decoration: none;
    color: #262626;
    margin-bottom: 5px; }
  .navbar__small-text {
    display: block;
    font-size: 14px;
    color: #7b7b79; }
  .navbar .menu {
    position: fixed;
    z-index: -1;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 16px 0px;
    background-color: #507fe1;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0; }
    .navbar .menu_active {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1; }
    .navbar .menu__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .navbar .menu__link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 17px;
      color: #fff; }
    .navbar .menu-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      border-right: 1px solid rgba(81, 11, 186, 0.1);
      border-left: 1px solid rgba(81, 11, 186, 0.1);
      height: 80px;
      width: 70px; }
      .navbar .menu-button__line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #89a9eb;
        margin-top: 2px; }
  .navbar .logo__text {
    display: block;
    margin-bottom: 5px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 18px;
    text-transform: uppercase; }
  .navbar .logo__description {
    display: block;
    font-size: 14px;
    color: #7b7b79; }

.hero {
  background: #f1f1f1 url("../../img/main.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 180px; }
  .hero__title {
    margin-bottom: 40px;
    font-size: 30px; }
  .hero__subtitle {
    display: block;
    margin-bottom: 67px;
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif; }
