* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url("../../fonts/ProximaNova-Semibold.eot");
  src: url("../../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Light';
  src: url("../../fonts/ProximaNova-Light.eot");
  src: url("../../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova-Light.woff") format("woff"), url("../../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

body {
  font-family: 'Proxima Nova Light', sans-serif;
  color: #262626; }

.section {
  padding: 100px 0 0; }
  .section-title {
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px; }

.button-o {
  border: 2px solid #507fe1;
  text-transform: uppercase;
  background-color: white;
  font-size: 12px;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #507fe1;
  padding: 17px 22px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  .button-o:hover {
    background-color: #507fe1;
    color: #fff; }

.button {
  border: none;
  text-transform: uppercase;
  background-color: #507fe1;
  font-family: 'Proxima Nova Semibold', sans-serif;
  color: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding: 25px 45px; }
  .button:hover {
    background-color: white;
    outline: 2px solid #507fe1;
    color: #507fe1; }
  .button-fitting {
    font-size: 11px;
    padding: 10px;
    text-transform: uppercase;
    color: #7c9fe8;
    background-color: #fff;
    border: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .button-fitting:hover {
      background-color: #7c9fe8;
      color: #fff; }
  .button-add {
    background-color: #7c9fe8;
    text-transform: uppercase;
    padding: 10px;
    color: #fff;
    font-size: 11px;
    border: none;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .button-add:hover {
      background-color: white;
      color: #507fe1; }

.bg-secondary {
  background: #f1f1f1; }

.input {
  height: 80px;
  padding-left: 30px;
  border: 1px solid #dddddd; }

input[type='checkbox'] {
  display: none; }
  input[type='checkbox']:checked + label:before {
    background-color: #507fe1; }

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 40px; }
  .checkbox-label:hover {
    cursor: pointer; }
  .checkbox-label:before {
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    margin-right: 15px; }

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1; }
  .navbar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 80px;
    display: flex;
    align-items: center; }
  .navbar__mobile, .navbar__landline {
    text-align: right; }
  .navbar__phone {
    display: block;
    font-size: 19px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    text-decoration: none;
    color: #262626;
    margin-bottom: 5px; }
  .navbar__small-text {
    display: block;
    font-size: 14px;
    color: #7b7b79; }
  .navbar .menu {
    position: fixed;
    z-index: -1;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 16px 0px;
    background-color: #507fe1;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0; }
    .navbar .menu_active {
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
      opacity: 1; }
    .navbar .menu__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
    .navbar .menu__link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 17px;
      color: #fff; }
    .navbar .menu-button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background-color: transparent;
      border: none;
      border-right: 1px solid rgba(81, 11, 186, 0.1);
      border-left: 1px solid rgba(81, 11, 186, 0.1);
      height: 80px;
      width: 70px; }
      .navbar .menu-button__line {
        display: block;
        width: 20px;
        height: 3px;
        background-color: #89a9eb;
        margin-top: 2px; }
  .navbar .logo__text {
    display: block;
    margin-bottom: 5px;
    font-family: 'Proxima Nova Semibold', sans-serif;
    font-size: 18px;
    text-transform: uppercase; }
  .navbar .logo__description {
    display: block;
    font-size: 14px;
    color: #7b7b79; }

.hero {
  background: #f1f1f1 url("../../img/main.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 180px; }
  .hero__title {
    margin-bottom: 40px;
    font-size: 30px; }
  .hero__subtitle {
    display: block;
    margin-bottom: 67px;
    font-size: 30px;
    font-family: 'Proxima Nova Semibold', sans-serif; }

.offer {
  padding: 129px 0; }
  .offer-block {
    background: #fff url(../../img/offer-bg.jpg) no-repeat center right;
    background-size: contain;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    padding: 80px;
    margin-top: -200px; }
  .offer__title {
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Proxima Nova Semibold', sans-serif;
    margin-bottom: 25px; }
  .offer__subtitle {
    display: block;
    font-size: 21px;
    margin-bottom: 48px; }
  .offer .form__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 900px;
    margin-bottom: 25px; }
    .offer .form__row:last-child {
      margin-bottom: 0; }
  .offer .form__label {
    display: block;
    font-size: 17px;
    margin-bottom: 15px; }
  .offer .form__group {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%; }
  .offer .form__input {
    width: 100%;
    border-right: 0px; }
    .offer .form__input:last-child {
      border-right: 1px solid #ddd; }
  .offer .form__button {
    height: 80px;
    width: 100%; }

.feature-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .feature-block__item {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    text-align: center;
    margin-bottom: 75px;
    font-size: 17px; }
  .feature-block__img {
    width: 180px;
    height: 180px; }

.catalog {
  padding-bottom: 100px; }
  .catalog-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .catalog__card {
    margin-bottom: 7px; }
  .catalog-card {
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    position: relative;
    z-index: 0;
    max-width: 570px;
    -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.2);
    box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.2); }
    .catalog-card img {
      width: 100%;
      height: 250px; }
    .catalog-card__buttons {
      position: absolute;
      bottom: 0;
      right: 0; }
    .catalog-card__tag {
      position: absolute;
      top: 7px;
      left: 7px;
      background-color: #8d8d8d;
      padding: 5px;
      color: #fff; }
    .catalog-card__image {
      display: block; }
  .catalog__link {
    text-align: center;
    margin-top: 60px; }
  .catalog__link-more {
    display: inline-block;
    margin-bottom: 15px; }
  .catalog__description {
    display: block; }

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 70px; }

.blog__title {
  font-size: 24px;
  font-family: 'Proxima Nova Semibold', sans-serif; }

.blog-link-more {
  color: #507fe1;
  text-decoration: underline;
  font-size: 16px; }

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .blog-list__image {
    height: 200px;
    overflow: hidden;
    width: 270px; }
    .blog-list__image:hover {
      -webkit-filter: brightness(40%);
      filter: brightness(40%); }

.blog-card {
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; }

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    padding: 0px 40px; }
  .blog__heading {
    display: block;
    text-align: center;
    line-height: 45px; }
  .blog-list {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .blog-list__card {
      margin-right: 100px;
      margin-left: 50px;
      max-width: 200px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    padding: 0px 40px; }
  .navbar__mobile, .navbar__landline {
    display: none; }
  .catalog-card {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .blog__heading {
    display: block;
    text-align: center;
    line-height: 45px; }
  .blog-list {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .blog-list__card {
      margin-left: 50px;
      margin-right: 100px;
      max-width: 200px; } }

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0px 20px; }
  .navbar__mobile, .navbar__landline {
    display: none; }
  .button-o {
    font-size: 10px; }
  .offer-block {
    padding: 20px;
    background: none;
    background-color: #fff; }
  .offer__title {
    font-size: 18px; }
  .offer__subtitle {
    font-size: 16px; }
  .offer .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .offer .form__row-checkbox {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
  .offer .form__group {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%; }
  .offer .form__input {
    margin-bottom: 20px; }
  .offer .form__button {
    height: 50px;
    padding: 5px; }
  .offer .feature-block__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .input {
    height: 50px; }
  .catalog-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .catalog-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
    .catalog-card img {
      width: 100%;
      height: 300px; }
  .blog__heading {
    display: block;
    text-align: center;
    line-height: 45px; }
  .blog-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .blog-list__card {
      margin-left: 40px;
      margin-right: 100px;
      max-width: 200px; }
    .blog-list__image {
      height: 150px; } }

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0px 20px; }
  .section-title {
    font-size: 24px; }
  .navbar .logo, .navbar__mobile, .navbar__landline {
    display: none; }
  .menu {
    top: 60px; }
    .menu-button {
      height: 60px; }
    .menu__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .menu__link {
      margin-bottom: 20px; }
  .feature-block__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .feature-block__img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px; } }
