.container {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    @include light;
    color: $text-color;
}

.section {
    padding: 100px 0 0;
    &-title {
        font-size: 30px;
        @include bold;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 100px;
    }
}


.button-o {
    border: 2px solid $primary;
    text-transform: uppercase;
    background-color: white;
    font-size: 12px;
    @include bold;
    color: $primary;
    padding: 17px 22px;
    transition: all .3s ease;

    &:hover{
        background-color: $primary;
        color: #fff; 
    }
}

.button {
    border: none;
    text-transform: uppercase;
    background-color: $primary;
    @include bold;
    color: #fff;
    transition: all .3s ease;
    padding: 25px 45px;

    &:hover {
        background-color: white;
        outline: 2px solid $primary;
        color: $primary;
    }

    &-fitting {
        font-size: 11px;
        padding: 10px;
        text-transform: uppercase;
        color: lighten($primary, 10%);
        background-color: #fff;
        border: none;
        transition: all .3s ease;

        &:hover{
            background-color: lighten($primary, 10%);
            color: #fff; 
        }
    }

    &-add {
        background-color: lighten($primary, 10%);
        text-transform: uppercase;
        padding: 10px;
        color: #fff;
        font-size: 11px;
        border: none;
        transition: all .3s ease;

        &:hover {
            background-color: white;
            color: $primary;
        }
    }
}

.bg-secondary {
    background: $bg-secondary;
}

.input {
    height: 80px;
    padding-left: 30px;
    border: 1px solid #dddddd;
}

input[type='checkbox'] {
    display: none;
    &:checked + label:before{
        background-color: $primary;
    }
}

.checkbox{
    &-label {
        display: flex;
        align-items: center;
        margin-right: 40px;
    &:hover {
        cursor: pointer;
        }
     &:before {
        content: '';
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        margin-right: 15px;
        }
    }
}