.contacts {
    padding-bottom: 150px;
    background-color: #f6f7f9;
    &-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            text-align: center;
        }
    }

    &__image {
        margin-bottom: 25px;
    }

    &__text {
        font-size: 16px;
    }

    &__link {
        color: $text-color;
    }

    &__address {
        font-style: normal;
    }
}