.factory {
    padding: 0 0 100px;

    &-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__image {
            width: 400px;
            height: 250px;
            margin-bottom: 20px;
        }

        &__text {
            margin-left: 70px;
            flex-basis: 50%;
            font-size: 18px;
            line-height: 20px;

            p {
                margin-bottom: 15px;
            }
        }
    }
}