.feature {
    &-block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
            flex-basis: 33.33%;
            text-align: center;
            margin-bottom: 100px;
            font-size: 17px;
        }

        &__img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
        }
    }
}