@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        padding: 0px 40px;
    }

    .blog {
        &__heading{
            display: block;
            text-align: center;
            line-height: 45px;
        }

        &-list {
            justify-content: space-around;
          &__card {
              margin-right: 100px;
              margin-left: 50px;
              max-width: 200px;
          }  
        }
    }
}
 
@media screen and (min-width: 768px) and (max-width: 991px)  {
    .container {
        padding: 0px 40px;
    }

    .navbar {
        &__mobile, &__landline {
            display: none;
        }
    }

    .catalog {
        &-card {
            flex-basis: 50%;
        }
    }

    .blog {
        &__heading{
            display: block;
            text-align: center;
            line-height: 45px;
        }
        &-list {
            justify-content: space-around;
          &__card {
              margin-left: 50px;
              margin-right: 100px;
              max-width: 200px;
          }  
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0px 20px;
    }
    .navbar{
    &__mobile, &__landline {
            display: none;
        }   
    }

    .button-o {
        font-size: 10px;
    }
    
    .offer {
        &-block {
            padding: 20px;
            background: none;
            background-color: #fff;
        }

        &__title {
            font-size: 18px;
        }

        &__subtitle {
            font-size: 16px;
        }

        .form {
            &__row {
                flex-direction: column;
                
                &-checkbox {
                    flex-direction: row;
                }
            }
            &__group {
                flex-basis: 100%;
                width: 100%;
            }

            &__input {
                margin-bottom: 20px;
            }

            &__button {
                height: 50px;
                padding: 5px;
            }
        }

        .feature {
            &-block {
                &__item {
                    flex-basis: 50%;
                }
            }
        }
    }
    
    .input {
        height: 50px;
    }

    .catalog {
        &-block {
            justify-content: center;
        }
    
        &-card {
            flex-basis: 100%;

            img {
                width: 100%;
                height: 300px;
            } 
        }
    }

    .blog {

        &__heading{
            display: block;
            text-align: center;
            line-height: 45px;
        }

        &-list {
            justify-content: center;
          &__card {
              margin-left: 40px;
              margin-right: 100px;
              max-width: 200px;
          }  

          &__image {
              height: 150px;
          }
        }
    }
}

@media screen and (max-width: 576px)  {
    .container {
        max-width: 100%;
        padding: 0px 20px;
    }

    .section {
        &-title {
            font-size: 24px;
        }
    }

    .navbar {
        .logo, &__mobile, &__landline {
            display: none;
        }
    }

    .menu {
        top: 60px;
        &-button {
            height: 60px;
        }

        &__nav {
            flex-direction: column;
        }

        &__link {
            margin-bottom: 20px;
        }
    }

    .feature {
        &-block {
            &__item {
                flex-basis: 50%;
            }
            &__img {
                width: 150px;
                height: 150px;
                margin-bottom: 10px;
            }
        }
    }
}
