.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #fff;

    &-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
        display: flex;
        align-items: center;
    }

    &__mobile, &__landline {
       text-align: right; 
    }

    &__phone {
        display: block;
        font-size: 19px;
        @include bold;
        text-decoration: none;
        color: $text-color;
        margin-bottom: 5px;
    }

    &__small-text {
        display: block;
        font-size: 14px;
        color: $text-color-light;
    }

    .menu {
        position: fixed;
        z-index: -1;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 16px 0px;
        background-color: $primary;
        transition: all .4s ease;
        transform: translateY(-200%);
        
        &_active {
            transform: translateY(0%);
        }

        &__nav {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        &__link {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 17px;
            color: #fff;
        }

        &-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            border-right: 1px solid rgba(#510bba, .1);
            border-left: 1px solid rgba(#510bba, .1);
            height: 80px;
            width: 70px;

            &__line {
                display: block;
                width: 20px;
                height: 3px;
                background-color: #89a9eb;
                margin-top: 2px;
            }
        }
    }

    .logo {
        &__text {
            display: block;
            margin-bottom: 5px;
            @include bold;
            font-size: 18px;
            text-transform: uppercase;
        }

        &__description {
            display: block;
            font-size: 14px;
            color: $text-color-light;
        }
    }


}