.reviews {
    background-color: #f5f6f8;

    &-slider {
        display: flex;
        justify-content: space-between;

        &__item {
            text-align: center;
        }

        &__img {
            display: block;
            width: 70px;
            height: 70px;
            border: 1px solid #f5f6f8;
            border-radius: 50%;
            margin: 20px auto;
        }

        &__text {
            position: relative;
            font-size: 15px;
            font-style: italic;
            max-width: 370px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            margin-bottom: 30px;
            line-height: 20px;
            &:after {
                content: '';
                position: absolute;
                bottom: -20px;
                transform: translateX(-50%);
                left: 50%;
                height: 20px;
                border: 10px solid transparent;
                border-top: 10px solid #fff;
            }
        }

        &-name {
            @include bold;
        }
    }
}